<a href="https://colab.research.google.com/github/MorganEJLA/python-cohort/blob/main/BLANK_GDI_Python1_Class2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Review data types**

Integers, floats, strings...

# **Mathematical operators**

* `+` add
* `-` subtract
* `*` multiply
* `**` exponent
* `/` divide 
* `%` modulo

In [3]:
print(4%4
      
      )

0

# **Augmented expressions**

* `+=` 
* `-=`
* `*=`
* `/=`

In [12]:
#x = x + 1 is the same thing as x += 1


start += 1
print(start)

1

# **Tip calculator**

**Level 1**

Create a function that will add a 20% tip to your bill. 
This function will take one argument, the total of your bill before tip, and should return the total cost after you add 20% tip. 

*Note: 20% can be represented as .20 or (20/100).*

**Level 2**

Add a new feature of your function that can take another argument with the number of people you want to split the bill with. The function should return the total cost for each person (after tip, of course!) 

**Level 3**

Use an augmented expression in your function. 

**Level 4**

Add a new argument where you can specify the tip amount. Set the default to 20%.

In [27]:
def tip_calc(bill,n):
    tip = bill * .20
    total = bill + tip
    each = total/n
    return(each)
tip_calc(100,6)

20.0

# **Lists, lists, lists...**

A new variable type.

In [ ]:
week = ["Mon", "Tue", "Wed", "Thu", "Fri"]

In [ ]:
#how many elements are in the list week?

In [ ]:
week = ["Mon", "Tue", "Wed", "Thu", "Fri", ["Sat", "Sun"]]

Sun

In [ ]:
#add a new day to the typical 7-day work week

In [ ]:
#remove an element from the list

Create a list of your favorite things.

* Favorite color. 
* Favorite number. 
* Favorite movie.

Create a list of your friend's favorite things. 

* Their favorite color.
* Their favorite number.
* Their favorite movie.

Nest these two lists into a new list. What is the length of this new list?

Use indexing to print your favorite movie and your friend's favorite number.

Add your favorite food to your list.
 
Change your friend's favorite movie to "Snakes on a Plane".

# **ANOTHER value type: Booleans!**

Comparison operators

* Equal to `==` 
* Not equal to `!=` 
* Greater than `>` 
* Less than `<` 
* Greater than or equal to `>=` 
* Less than or equal to `<=`

In [ ]:
south_pole = -51
north_pole = 32

# **Logical operators**

* `AND` 
* `OR` 
* `NOT`

Membership operators:
* `in`
* `not in`

In [ ]:
#is one of the temps below zero?
#are both of the temps below zero?

In [ ]:
#membership in strings and lists

# **If, else statements**

Let's get our code to make some decisions...

In [ ]:
if ########: #if True
  #####
  ###
  #####
  ####
else: #If False
  #  #
  #####
  ######
  #####

In [ ]:
#etsy store inventory


# **Putting it all together: Who can ride the coaster?**

You've been commissioned by the local amusement park to create a computer system that can check if a park-goer is allowed to ride the rollercoasters. 
The park owner let's you know that all rollercoaster riders must be 5 years or older and at least 48 inches tall. 

Create a function that takes a visitor's age and height (in feet and inches) and returns whether they can ride the rollercoasters at the park. 

Note:Height in inches = (Feet*12) + Inches

The park-owner comes back and says they are adding a new rule where children 4 and older can ride rollercoasters if they have an adult with them (you can ignore the child's height for this rule). 
Add this new information to your function.